src/.flows.json.backup
[
  {
    "id": "6d17e4e266b6f154",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "8ce3cf46f8463f8e",
    "type": "http in",
    "z": "6d17e4e266b6f154",
    "name": "",
    "url": "arts",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 300,
    "wires": [
      [
        "49552d5cefc78c15"
      ]
    ]
  },
  {
    "id": "49552d5cefc78c15",
    "type": "function",
    "z": "6d17e4e266b6f154",
    "name": "function 1",
    "func": "msg.payload = {\n    \"id\": \"285498f5-3486-434d-a459-bedb6bcea7ce\",\n    \"title\": \"Math Quizz\",\n    \"description\": \"Childrens, You must do this quizz by yourself. Becareful, we have some question with multiple choice in this test.\",\n    \"lsQuizz\": {\n        \"48c9945c-c048-4cdc-99c3-249c4a320386\": {\n            \"id\": \"48c9945c-c048-4cdc-99c3-249c4a320386\",\n            \"content\": \"5 + 3 = ?\",\n            \"isMutiple\": false,\n            \"answer\": [\n                { \"id\": \"9b8da931-b66c-4ab5-8508-c324c12c6160\", \"content\": \"2\" },\n                { \"id\": \"ed6c7f93-2aa2-4c6b-9ce3-9ccc6fe0d878\", \"content\": \"4\" },\n                { \"id\": \"41023bff-94d2-46b3-9fae-24f4ed65aff5\", \"content\": \"6\" },\n                { \"id\": \"e59a4d41-19f8-44b5-aa42-92058fb6cee9\", \"content\": \"8\" }\n            ]\n        },\n        \"46229c41-b896-493b-b32b-d890115efc3e\": {\n            \"id\": \"46229c41-b896-493b-b32b-d890115efc3e\",\n            \"content\": \"10 * 2 = ?\",\n            \"isMutiple\": false,\n            \"answer\": [\n                { \"id\": \"c3fd23b1-527f-4fde-9750-ec9eb8164330\", \"content\": \"20\" },\n                { \"id\": \"9e617aaa-eb6f-47ad-8318-0b45398b7360\", \"content\": \"15\" },\n                { \"id\": \"c2cd4d66-d977-46ff-8128-5c669fcb1357\", \"content\": \"10\" },\n                { \"id\": \"a703b001-80b1-442e-83ce-e20f1102f023\", \"content\": \"30\" }\n            ]\n        },\n        \"2ce23d6a-64ee-4ba8-8cd6-1fc1a0a09e79\": {\n            \"id\": \"2ce23d6a-64ee-4ba8-8cd6-1fc1a0a09e79\",\n            \"content\": \"5 + 2 = ?\",\n            \"isMutiple\": true,\n            \"answer\": [\n                { \"id\": \"bfd34144-1e1b-47a6-a0c4-2e5933a601ce\", \"content\": \"10 - 3\" },\n                { \"id\": \"9752b1c3-8e06-4992-b35e-1ec731026b27\", \"content\": \"15 - 6\" },\n                { \"id\": \"03c001dd-f3fe-4ed6-92dd-8c14b3e70aba\", \"content\": \"3 + 4\" },\n                { \"id\": \"515fddec-ced3-40ea-b1df-4571db6650eb\", \"content\": \"2 + 10\" }\n            ]\n        }\n    }\n}\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 460,
    "y": 120,
    "wires": [
      [
        "978d6bf2c6a6edee"
      ]
    ]
  },
  {
    "id": "978d6bf2c6a6edee",
    "type": "http response",
    "z": "6d17e4e266b6f154",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 630,
    "y": 300,
    "wires": []
  }
]